body {
 font-family: Arial, sans-serif;
 background-color: #f5f6f7;
 margin: 0;
 padding: 0;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 height: 100vh;
}

/* Top bar */
.top-bar {
 background-color: #ced1d3;
 padding: 10px;
 text-align: left;
 width: 100%;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 1000;
}

.top-bar h1 {
 margin: 0;
 font-size: 24px;
 color: white;
 font-family: "Helvetica", sans-serif;
}

.container {
 max-width: 600px;
 background-color: #fff;
 padding: 20px;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
 border-radius: 5px;
 text-align: center;
 margin-top: 100px;
}

h2 {
 font-size: 20px;
 color: #333;
}

.title {
 font-size: 18px;
 color: #000;
 text-align: center;
 margin-bottom: 20px;
}

.instruction {
 font-size: 14px;
 color: #333;
 margin-bottom: 15px;
}

.form-section {
 margin-bottom: 15px;
}

input[type="text"] {
 width: calc(100% - 20px);
 padding: 10px;
 border: 1px solid #ddd;
 border-radius: 5px;
 font-size: 14px;
 margin-bottom: 10px;
}

button {
 background-color: #1877f2;
 color: #fff;
 border: none;
 padding: 10px 20px;
 border-radius: 5px;
 cursor: pointer;
 font-size: 14px;
 width: 100%;
}

.link {
 font-size: 12px;
 color: #1877f2;
 text-align: center;
 display: block;
 margin-top: 10px;
 text-decoration: none;
}

footer {
 margin-top: 30px;
 text-align: center;
 font-size: 12px;
 color: #777;
}

footer a {
 margin: 0 5px;
 text-decoration: none;
 color: #777;
}

@media only screen and (max-width: 768px) {
 .container {
  margin-top: 60px;
  padding: 15px;
  width: calc(100% - 40px);
 }

 .top-bar h1 {
  font-size: 20px;
 }

 button {
  font-size: 16px;
 }

 .instruction {
  font-size: 13px;
 }

 input[type="text"] {
  width: calc(100% - 16px);
 }
}

@media only screen and (max-width: 480px) {
 .container {
  margin-top: 70px;
  padding: 10px;
  width: calc(100% - 20px);
 }

 .top-bar h1 {
  font-size: 18px;
 }

 button {
  font-size: 14px;
 }

 .instruction {
  font-size: 12px;
 }

 input[type="text"] {
  width: calc(100% - 12px);
 }
}
